<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="BPMSoft" type="BPMSoft.Core.AppConfigurationSectionGroup, BPMSoft.Core">
      <section name="sysSettings" type="BPMSoft.Core.SysSettingsConfigurationSection, BPMSoft.Core" requirePermission="false" />
      <sectionGroup name="resources" type="BPMSoft.Common.ResourceConfigurationSectionGroup, BPMSoft.Common">
        <section name="cultures" type="BPMSoft.Common.ResourceCulturesSection, BPMSoft.Common" requirePermission="false" />
        <section name="generalSettings" type="BPMSoft.Common.ResourceGeneralSettingsSection, BPMSoft.Common" requirePermission="false" />
        <section name="clientSources" type="BPMSoft.Common.ClientSourcesSettingsSection, BPMSoft.Common" requirePermission="false" />
      </sectionGroup>
      <section name="managers" type="BPMSoft.Core.ManagerProviderConfigurationSection, BPMSoft.Core" requirePermission="false" />
      <section name="schemaManagers" type="BPMSoft.Core.SchemaManagerProviderConfigurationSection, BPMSoft.Core" requirePermission="false" />
      <section name="storeDataAdapters" type="BPMSoft.Core.Store.StoreAdaptersConfigurationSection, BPMSoft.Core" requirePermission="false" />
      <section name="storeCacheAdapters" type="BPMSoft.Core.Store.StoreAdaptersConfigurationSection, BPMSoft.Core" requirePermission="false" />
      <sectionGroup name="db" type="BPMSoft.Core.DB.DBConfigurationSectionGroup, BPMSoft.Core">
        <section name="general" type="BPMSoft.Core.DB.DBConfigurationSection, BPMSoft.Core" requirePermission="false" />
        <section name="mssql" type="BPMSoft.DB.MSSql.MSSqlConfigurationSection, BPMSoft.DB.MSSql" requirePermission="false" />
        <section name="oracle" type="BPMSoft.DB.Oracle.OracleConfigurationSection, BPMSoft.DB.Oracle" requirePermission="false" />
      </sectionGroup>
      <section name="pageSchemaControlTypes" type="BPMSoft.UI.WebControls.PageSchemaControlTypeConfigurationSection, BPMSoft.UI.WebControls" requirePermission="false" />
      <section name="fileDesignMode" type="BPMSoft.Core.FileDesignModeSection, BPMSoft.Core" requirePermission="false" />
    </sectionGroup>
    <section name="quartzConfig" type="BPMSoft.Core.Scheduler.QuartzConfigurationSection, BPMSoft.Core.Scheduler" />
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="common">
      <section name="logging" type="BPMSoft.Common.LoggingConfigurationSectionHandler, BPMSoft.Common" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <BPMSoft>
    <resources>
      <cultures>
        <culture name="ru-Ru" />
        <!--<culture name="en-US" />-->
      </cultures>
    </resources>
    <managers>
      <manager scope="app" name="DataValueTypeManager" type="BPMSoft.Core.DataValueTypeManager, BPMSoft.Core" />
      <manager scope="app" name="SystemValueManager" type="BPMSoft.Core.SystemValueManager, BPMSoft.Core" />
      <manager scope="app" name="DesignModeValuesProviderManager" type="BPMSoft.Core.DesignModeValuesProviderManager, BPMSoft.Core" />
      <manager scope="app" name="PageSchemaControlTypeManager" type="BPMSoft.UI.WebControls.PageSchemaControlTypeManager, BPMSoft.UI.WebControls" />
      <manager scope="app" name="LicManager" type="BPMSoft.Core.LicManager, BPMSoft.Core" />
      <manager scope="user" name="ProfileManager" type="BPMSoft.Core.Profiles.ProfileManager, BPMSoft.Core" />
      <manager scope="user" name="DBMetaActionManager" type="BPMSoft.Core.DB.DBMetaActionManager, BPMSoft.Core" />
      <manager scope="app" name="ProcessSchemaElementManager" type="BPMSoft.Core.Process.ProcessSchemaElementManager, BPMSoft.Core" />
    </managers>
    <schemaManagers>
      <manager name="EntitySchemaManager" type="BPMSoft.Core.Entities.EntitySchemaManager, BPMSoft.Core" compileDependencies="ValueListSchemaManager,SourceCodeSchemaManager,ProcessUserTaskSchemaManager" />
      <manager name="ProcessUserTaskSchemaManager" type="BPMSoft.Core.Process.ProcessUserTaskSchemaManager, BPMSoft.Core" compileDependencies="EntitySchemaManager,ValueListSchemaManager" />
      <manager name="ProcessSchemaManager" type="BPMSoft.Core.Process.ProcessSchemaManager, BPMSoft.Core" compileDependencies="EntitySchemaManager,ValueListSchemaManager,SourceCodeSchemaManager,ProcessUserTaskSchemaManager" />
      <manager name="DcmSchemaManager" type="BPMSoft.Core.DcmProcess.DcmSchemaManager, BPMSoft.Core" compileDependencies="" />
      <manager name="CampaignSchemaManager" type="BPMSoft.Core.Campaign.CampaignSchemaManager, BPMSoft.Core" compileDependencies="" />
      <manager name="PageSchemaManager" type="BPMSoft.UI.WebControls.PageSchemaManager, BPMSoft.UI.WebControls" compileDependencies="ImageListSchemaManager" />
      <manager name="ImageListSchemaManager" type="BPMSoft.Core.ImageListSchemaManager, BPMSoft.Core" compileDependencies="EntitySchemaManager,ValueListSchemaManager,SourceCodeSchemaManager,ProcessUserTaskSchemaManager" />
      <manager name="ReportSchemaManager" type="BPMSoft.Reports.ReportSchemaManager, BPMSoft.Reports" compileDependencies="EntitySchemaManager,ValueListSchemaManager,SourceCodeSchemaManager,ProcessUserTaskSchemaManager" />
      <manager name="SourceCodeSchemaManager" type="BPMSoft.Core.SourceCodeSchemaManager, BPMSoft.Core" compileDependencies="EntitySchemaManager,ValueListSchemaManager,ProcessUserTaskSchemaManager,PageSchemaManager,ProcessSchemaManager" />
      <manager name="ValueListSchemaManager" type="BPMSoft.Core.ValueListSchemaManager, BPMSoft.Core" compileDependencies="EntitySchemaManager,SourceCodeSchemaManager,ProcessUserTaskSchemaManager" />
      <manager name="ClientUnitSchemaManager" type="BPMSoft.Core.ClientUnitSchemaManager, BPMSoft.Core" compileDependencies="" />
      <manager name="ServiceSchemaManager" type="BPMSoft.Services.ServiceSchemaManager, BPMSoft.Services" />
    </schemaManagers>
    <pageSchemaControlTypes>
      <pageSchemaControlType id="{D407F739-133F-4d8c-96A9-618EDDA14329}" name="EntityDataSource" caption="@BPMSoft.UI.WebContols, EntityDataSource.Caption" typeName="BPMSoft.UI.WebControls.Controls.EntityDataSource, BPMSoft.UI.WebControls" groupName="Data" groupCaption="Data" generatorTypeName="BPMSoft.UI.WebControls.DataSourceControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{bc66795d-cd88-4c02-8be7-498b591eda84}" name="DataSourceStructureColumn" caption="@BPMSoft.UI.WebContols, DataSourceStructureColumn.Caption" typeName="BPMSoft.UI.WebControls.Controls.DataSourceStructureColumn, BPMSoft.UI.WebControls" groupName="Data" groupCaption="Data" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{cc66795d-cd88-4c02-8be7-498b591eda84}" name="DataSourceStructureColumnCollection" caption="@BPMSoft.UI.WebContols, DataSourceStructureColumnCollection.Caption" typeName="BPMSoft.UI.WebControls.Controls.DataSourceStructureColumnCollection, BPMSoft.UI.WebControls" groupName="Data" groupCaption="Data" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{dc66795d-cd88-4c02-8be7-498b591eda84}" name="EntityDataSourceStructure" caption="@BPMSoft.UI.WebContols, EntityDataSourceStructure.Caption" typeName="BPMSoft.UI.WebControls.Controls.EntityDataSourceStructure, BPMSoft.UI.WebControls" groupName="Data" groupCaption="Data" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{ec66795d-cd88-4c02-8be7-498b591eda84}" name="VirtualDataSourceStructure" caption="@BPMSoft.UI.WebContols, VirtualDataSourceStructure.Caption" typeName="BPMSoft.UI.WebControls.Controls.VirtualDataSourceStructure, BPMSoft.UI.WebControls" groupName="Data" groupCaption="Data" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{fc66795d-cd88-4c02-8be7-498b591eda84}" name="DataSourceFilter" caption="@BPMSoft.UI.WebContols, DataSourceFilter.Caption" typeName="BPMSoft.UI.WebControls.Controls.DataSourceFilter, BPMSoft.UI.WebControls" groupName="Data" groupCaption="Data" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{fa66795d-cd88-4c02-8be7-498b591eda84}" name="DataSourceFilterCollection" caption="@BPMSoft.UI.WebContols, DataSourceFilterCollection.Caption" typeName="BPMSoft.UI.WebControls.Controls.DataSourceFilterCollection, BPMSoft.UI.WebControls" groupName="Data" groupCaption="Data" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{CE449A0A-B506-4533-9A0E-FDEDEDB25223}" name="Button" caption="@BPMSoft.UI.WebContols, Button.Caption" typeName="BPMSoft.UI.WebControls.Controls.Button, BPMSoft.UI.WebControls" groupName="Standart" groupCaption="Standart" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{B846DA27-69B9-4931-9E10-CB1F45C1E598}" name="FileUploadButton" caption="@BPMSoft.UI.WebContols, FileUploadButton.Caption" typeName="BPMSoft.UI.WebControls.Controls.FileUploadButton, BPMSoft.UI.WebControls" groupName="Standart" groupCaption="Standart" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{35237997-6940-4106-98C1-7452922FD90B}" name="Label" caption="@BPMSoft.UI.WebContols, Label.Caption" typeName="BPMSoft.UI.WebControls.Controls.Label, BPMSoft.UI.WebControls" groupName="Standart" groupCaption="Standart" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{91D8F150-B93B-408f-8328-2CD416818576}" name="HiddenField" caption="@BPMSoft.UI.WebContols, HiddenField.Caption" typeName="BPMSoft.UI.WebControls.Controls.HiddenField, BPMSoft.UI.WebControls" groupName="Standart" groupCaption="Standart" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{65732A22-AF7F-40c2-B906-5E9C832965A3}" name="Spacer" caption="@BPMSoft.UI.WebContols, Spacer.Caption" typeName="BPMSoft.UI.WebControls.Controls.Spacer, BPMSoft.UI.WebControls" groupName="Standart" groupCaption="Standart" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{43AC3C03-8B06-4630-9F41-57249CD97DE1}" name="MessagePanel" caption="@BPMSoft.UI.WebContols, MessagePanel.Caption" typeName="BPMSoft.UI.WebControls.Controls.MessagePanel, BPMSoft.UI.WebControls" groupName="Standart" groupCaption="Standart" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{4A99C589-2F5B-41CD-828C-2E415B292B32}" name="ImageList" caption="@BPMSoft.UI.WebContols, ImageList.Caption" typeName="BPMSoft.UI.WebControls.Controls.ImageList, BPMSoft.UI.WebControls" groupName="Standart" groupCaption="Standart" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{E142E3B5-8127-4A62-AEA3-97A8AB57347D}" name="ImageListItem" caption="@BPMSoft.UI.WebContols, ImageListItem.Caption" typeName="BPMSoft.UI.WebControls.Controls.ImageListItem, BPMSoft.UI.WebControls" groupName="Standart" groupCaption="Standart" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{10A6E6CF-1415-4b9a-9BB1-7EFE6F636D9D}" name="TextEdit" caption="@BPMSoft.UI.WebContols, TextEdit.Caption" typeName="BPMSoft.UI.WebControls.Controls.TextEdit, BPMSoft.UI.WebControls" groupName="Edits" groupCaption="Edits" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{84BD35B1-E5AF-4606-BB06-E97FC4AAF256}" name="LocalizableTextEdit" caption="@BPMSoft.UI.WebContols, LocalizableTextEdit.Caption" typeName="BPMSoft.UI.WebControls.Controls.LocalizableTextEdit, BPMSoft.UI.WebControls" groupName="Edits" groupCaption="Edits" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{5110A03B-376E-4048-8451-77195F86EFF5}" name="MemoEdit" caption="@BPMSoft.UI.WebContols, MemoEdit.Caption" typeName="BPMSoft.UI.WebControls.Controls.MemoEdit, BPMSoft.UI.WebControls" groupName="Edits" groupCaption="Edits" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{DA409670-9B62-40e7-A0A5-13506F9304B7}" name="IntegerEdit" caption="@BPMSoft.UI.WebContols, IntegerEdit.Caption" typeName="BPMSoft.UI.WebControls.Controls.IntegerEdit, BPMSoft.UI.WebControls" groupName="Edits" groupCaption="Edits" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{6E7FB250-2892-4570-9614-CACCF2F8D63E}" name="FloatEdit" caption="@BPMSoft.UI.WebContols, FloatEdit.Caption" typeName="BPMSoft.UI.WebControls.Controls.FloatEdit, BPMSoft.UI.WebControls" groupName="Edits" groupCaption="Edits" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{84BFFE36-F323-4B60-9C72-0FDE7140787E}" name="MultiCurrencyEdit" caption="@BPMSoft.UI.WebContols, MultiCurrencyEdit.Caption" typeName="BPMSoft.UI.WebControls.Controls.MultiCurrencyEdit, BPMSoft.UI.WebControls" groupName="Edits" groupCaption="Edits" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{3E4256CB-C5F7-474c-BD97-85DF83934AB4}" name="DateTimeEdit" caption="@BPMSoft.UI.WebContols, DateTimeEdit.Caption" typeName="BPMSoft.UI.WebControls.Controls.DateTimeEdit, BPMSoft.UI.WebControls" groupName="Edits" groupCaption="Edits" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{5C30F4BF-087E-4ef9-88C4-0EDF24F4A9D9}" name="ComboBoxEdit" caption="@BPMSoft.UI.WebContols, ComboBoxEdit.Caption" typeName="BPMSoft.UI.WebControls.Controls.ComboBoxEdit, BPMSoft.UI.WebControls" groupName="Edits" groupCaption="Edits" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{59DD375C-F86B-4e6a-BE3A-B7BE2D44B082}" name="LookupEdit" caption="@BPMSoft.UI.WebContols, LookupEdit.Caption" typeName="BPMSoft.UI.WebControls.Controls.LookupEdit, BPMSoft.UI.WebControls" groupName="Edits" groupCaption="Edits" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{233F52B8-C08D-46c6-894C-81798E025A11}" name="CheckBox" caption="@BPMSoft.UI.WebContols, CheckBox.Caption" typeName="BPMSoft.UI.WebControls.Controls.CheckBox, BPMSoft.UI.WebControls" groupName="Edits" groupCaption="Edits" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{D8FE9E0E-E487-47a2-A989-59F193B714CA}" name="RadioButton" caption="@BPMSoft.UI.WebContols, RadioButton.Caption" typeName="BPMSoft.UI.WebControls.Controls.RadioButton, BPMSoft.UI.WebControls" groupName="Edits" groupCaption="Edits" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{5AEFE895-2C1B-4029-899E-0B51B3D87634}" name="ImageBox" caption="@BPMSoft.UI.WebContols, ImageBox.Caption" typeName="BPMSoft.UI.WebControls.Controls.ImageBox, BPMSoft.UI.WebControls" groupName="Edits" groupCaption="Edits" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{75B23119-2AA1-44e3-90EB-31DA0A1C97AD}" name="ColorEdit" caption="@BPMSoft.UI.WebContols, ColorEdit.Caption" typeName="BPMSoft.UI.WebControls.Controls.ColorEdit, BPMSoft.UI.WebControls" groupName="Edits" groupCaption="Edits" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{32FBF276-6295-46D6-82AA-60280EAAB431}" name="FileUploadEdit" caption="@BPMSoft.UI.WebContols, FileUploadEdit.Caption" typeName="BPMSoft.UI.WebControls.Controls.FileUploadEdit, BPMSoft.UI.WebControls" groupName="Edits" groupCaption="Edits" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{51419536-BAD1-453C-9E33-16BE4470E19B}" name="HtmlEdit" caption="@BPMSoft.UI.WebContols, HtmlEdit.Caption" typeName="BPMSoft.UI.WebControls.Controls.HtmlEdit, BPMSoft.UI.WebControls" groupName="Edits" groupCaption="Edits" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{58F74A9E-22CE-4FEE-88CC-899E5C9988C2}" name="UnitEdit" caption="@BPMSoft.UI.WebContols, UnitEdit.Caption" typeName="BPMSoft.UI.WebControls.Controls.UnitEdit, BPMSoft.UI.WebControls" groupName="Edits" groupCaption="Edits" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{4E4E4AFB-5B9F-49F6-8CFC-48738BB429D9}" name="FrameEdit" caption="@BPMSoft.UI.WebContols, FrameEdit.Caption" typeName="BPMSoft.UI.WebControls.Controls.FrameEdit, BPMSoft.UI.WebControls" groupName="Edits" groupCaption="Edits" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{98430166-2C26-42E1-8B40-755253731526}" name="ProcessSchemaParameterValueEdit" caption="@BPMSoft.UI.WebContols, ProcessSchemaParameterValueEdit.Caption" typeName="BPMSoft.UI.WebControls.Controls.ProcessSchemaParameterValueEdit, BPMSoft.UI.WebControls" groupName="Edits" groupCaption="Edits" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{40581724-250E-4F5E-8A3E-624CEBD3C74E}" name="DimensionEdit" caption="@BPMSoft.UI.WebContols, DimensionEdit.Caption" typeName="BPMSoft.UI.WebControls.Controls.DimensionEdit, BPMSoft.UI.WebControls" groupName="Edits" groupCaption="Edits" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{7081B30D-BDB8-426B-B8CA-8DFAF1757F4C}" name="SyntaxMemoEdit" caption="@BPMSoft.UI.WebContols, SyntaxMemoEdit.Caption" typeName="BPMSoft.UI.WebControls.Controls.SyntaxMemoEdit, BPMSoft.UI.WebControls" groupName="Edits" groupCaption="Edits" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{03970BF3-2025-4274-A85B-F17F745FE758}" name="ControlLayout" caption="@BPMSoft.UI.WebContols, ControlLayout.Caption" typeName="BPMSoft.UI.WebControls.Controls.ControlLayout, BPMSoft.UI.WebControls" groupName="Containers" groupCaption="Containers" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{CDE9E1A5-AF9A-4b0d-8D2D-EA886A9CE9F1}" name="TabPanel" caption="@BPMSoft.UI.WebContols, TabPanel.Caption" typeName="BPMSoft.UI.WebControls.Controls.TabPanel, BPMSoft.UI.WebControls" groupName="Containers" groupCaption="Containers" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{07EC5C8A-896D-4a33-A02A-BE8922B6E96F}" name="PageContainer" caption="@BPMSoft.UI.WebContols, PageContainer.Caption" typeName="BPMSoft.UI.WebControls.Controls.PageContainer, BPMSoft.UI.WebControls" groupName="Containers" groupCaption="Containers" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{FD1E14CB-5EC2-48D5-A3ED-37BF6C72D594}" name="HtmlPageContainer" caption="@BPMSoft.UI.WebContols, HtmlPageContainer.Caption" typeName="BPMSoft.UI.WebControls.Controls.HtmlPageContainer, BPMSoft.UI.WebControls" groupName="Containers" groupCaption="Containers" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{BF071EA5-E6A8-4753-A0AF-5D5E88E4EBE9}" name="TabHeader" caption="@BPMSoft.UI.WebContols, TabHeader.Caption" typeName="BPMSoft.UI.WebControls.Controls.TabHeader, BPMSoft.UI.WebControls" groupName="Containers" groupCaption="Containers" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{CFA34329-A2C7-443c-A6D4-47E172C7616A}" name="Tab" caption="@BPMSoft.UI.WebContols, Tab.Caption" typeName="BPMSoft.UI.WebControls.Controls.Tab, BPMSoft.UI.WebControls" groupName="Containers" groupCaption="Containers" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{D289A893-837D-4CD8-A3DE-18E750CD0378}" name="ReportPreview" caption="@BPMSoft.UI.WebContols, ReportPreview.Caption" typeName="BPMSoft.UI.WebControls.Controls.ReportPreview, BPMSoft.UI.WebControls" groupName="Containers" groupCaption="Containers" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{51FEE583-9A2E-4d9a-9FDF-28F4C9271DC2}" name="SilverlightContainer" caption="@BPMSoft.UI.WebContols, SilverlightContainer.Caption" typeName="BPMSoft.UI.WebControls.Controls.SilverlightContainer, BPMSoft.UI.WebControls" groupName="Containers" groupCaption="Containers" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <!--<pageSchemaControlType id="{}" name="ContextMenu" caption="@BPMSoft.UI.WebContols, ContextMenu.Caption" typeName="BPMSoft.UI.WebControls.Controls.Menu, BPMSoft.UI.WebControls" groupName="Tools" groupCaption="Tools" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls"/>-->
      <pageSchemaControlType id="{543E6939-AB5A-42ea-ABAB-4CB382AE806F}" name="Menu" caption="@BPMSoft.UI.WebContols, Menu.Caption" typeName="BPMSoft.UI.WebControls.Controls.Menu, BPMSoft.UI.WebControls" groupName="Tools" groupCaption="Tools" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{553E6939-AB5A-42ea-ABAB-4CB382AE806F}" name="MenuBaseCollection" caption="@BPMSoft.UI.WebContols, Menu.Caption" typeName="BPMSoft.UI.WebControls.Controls.MenuBaseCollection, BPMSoft.UI.WebControls" groupName="Tools" groupCaption="Tools" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{3D0F0868-402F-4866-ABCA-CE47F461459D}" name="MenuPanel" caption="@BPMSoft.UI.WebContols, MenuPanel.Caption" typeName="BPMSoft.UI.WebControls.Controls.MenuPanel, BPMSoft.UI.WebControls" groupName="Tools" groupCaption="Tools" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{2c41d0e3-1b4c-4968-a357-217850d583bf}" name="MenuItem" caption="@BPMSoft.UI.WebContols, MenuItem.Caption" typeName="BPMSoft.UI.WebControls.Controls.MenuItem, BPMSoft.UI.WebControls" groupName="Tools" groupCaption="Tools" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{4c41d0e3-1b4c-4968-a357-217850d583bf}" name="CheckMenuItem" caption="@BPMSoft.UI.WebContols, CheckMenuItem.Caption" typeName="BPMSoft.UI.WebControls.Controls.CheckMenuItem, BPMSoft.UI.WebControls" groupName="Tools" groupCaption="Tools" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{3c41d0e3-1b4c-4968-a357-217850d583bf}" name="MenuSeparator" caption="@BPMSoft.UI.WebContols, MenuSeparator.Caption" typeName="BPMSoft.UI.WebControls.Controls.MenuSeparator, BPMSoft.UI.WebControls" groupName="Tools" groupCaption="Tools" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{C0D9554A-42EB-45E8-96CC-82D5A546616E}" name="MultiLevelTabs" caption="@BPMSoft.UI.WebContols, MultiLevelTabs.Caption" typeName="BPMSoft.UI.WebControls.Controls.MultiLevelTabs, BPMSoft.UI.WebControls" groupName="Tools" groupCaption="Tools" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{C9177C5A-653F-4397-A653-8ADF9B4AD3C0}" name="ToolButton" caption="@BPMSoft.UI.WebContols, ToolButton.Caption" typeName="BPMSoft.UI.WebControls.Controls.ToolButton, BPMSoft.UI.WebControls" groupName="Tools" groupCaption="Tools" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{E3727FB1-F911-4624-B313-A1469F0D1F79}" name="TreeGrid" caption="@BPMSoft.UI.WebContols, TreeGrid.Caption" typeName="BPMSoft.UI.WebControls.Controls.TreeGrid, BPMSoft.UI.WebControls" groupName="Complex" groupCaption="Complex" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{A471AD8E-9342-448F-8DDD-F2FE7B5234B9}" name="FilterEdit" caption="@BPMSoft.UI.WebContols, FilterEdit.Caption" typeName="BPMSoft.UI.WebControls.Controls.FilterEdit, BPMSoft.UI.WebControls" groupName="Complex" groupCaption="Complex" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{55209B21-DEA0-4744-B3A5-E4547D6977A0}" name="ScheduleEdit" caption="@BPMSoft.UI.WebContols, ScheduleEdit.Caption" typeName="BPMSoft.UI.WebControls.Controls.ScheduleEdit, BPMSoft.UI.WebControls" groupName="Complex" groupCaption="Complex" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{0222D335-300D-491D-BD19-97A04830A177}" name="ChartSeriesCollection" caption="@BPMSoft.UI.WebContols, ChartSeriesCollection.Caption" typeName="BPMSoft.UI.WebControls.Controls.ChartSeriesCollection, BPMSoft.UI.WebControls" groupName="Tools" groupCaption="Tools" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{F111C720-062E-43A9-B0CD-A0AA32A47244}" name="ChartSeries" caption="@BPMSoft.UI.WebContols, ChartSeries.Caption" typeName="BPMSoft.UI.WebControls.Controls.ChartSeries, BPMSoft.UI.WebControls" groupName="Tools" groupCaption="Tools" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{EA4DC9DA-5951-47CC-B423-9F35F0A0A2E1}" name="ChartXAxis" caption="@BPMSoft.UI.WebContols, ChartXAxis.Caption" typeName="BPMSoft.UI.WebControls.Controls.ChartXAxis, BPMSoft.UI.WebControls" groupName="Tools" groupCaption="Tools" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{DDB951FF-7803-4030-A288-18F094E7A62D}" name="ChartYAxis" caption="@BPMSoft.UI.WebContols, ChartYAxis.Caption" typeName="BPMSoft.UI.WebControls.Controls.ChartYAxis, BPMSoft.UI.WebControls" groupName="Tools" groupCaption="Tools" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <pageSchemaControlType id="{9E9A256E-6516-4F9D-8725-7156FAAF403C}" name="Chart" caption="@BPMSoft.UI.WebContols, Chart.Caption" typeName="BPMSoft.UI.WebControls.Controls.Chart, BPMSoft.UI.WebControls" groupName="Complex" groupCaption="Complex" generatorTypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls" />
      <!--<pageSchemaControlType id="{9c033dc4-02fb-4aa7-9645-6f38d3f1bf76}" name="Filter" caption="@BPMSoft.UI.WebContols, Filter.Caption" typeName="BPMSoft.UI.WebControls.Controls.Filter, BPMSoft.UI.WebControls" groupName="NonVisual" groupCaption="NonVisual" generatorTzypeName="BPMSoft.UI.WebControls.GeneralControlGenerator, BPMSoft.UI.WebControls"/>-->
    </pageSchemaControlTypes>
    <storeDataAdapters>
      <storeAdapter levelName="Request" type="BPMSoft.Core.Store.ConcurrentDictionaryAdapter, BPMSoft.Core" />
      <storeAdapter levelName="Session" type="BPMSoft.Core.Store.ConcurrentDictionaryAdapter, BPMSoft.Core" />
      <storeAdapter levelName="Application" type="BPMSoft.Core.Store.ConcurrentDictionaryAdapter, BPMSoft.Core" />
    </storeDataAdapters>
    <storeCacheAdapters>
      <storeAdapter levelName="Session" type="BPMSoft.Core.Store.ConcurrentDictionaryAdapter, BPMSoft.Core" />
      <storeAdapter levelName="Workspace" type="BPMSoft.Core.Store.ConcurrentDictionaryAdapter, BPMSoft.Core" />
      <storeAdapter levelName="Application" type="BPMSoft.Core.Store.ConcurrentDictionaryAdapter, BPMSoft.Core" />
    </storeCacheAdapters>
    <db>
      <general connectionStringName="db" securityEngineType="BPMSoft.DB.PostgreSql.PostgreSqlSecurityEngine,BPMSoft.DB.PostgreSql" executorType="BPMSoft.DB.PostgreSql.PostgreSqlExecutor, BPMSoft.DB.PostgreSql" engineType="BPMSoft.DB.PostgreSql.PostgreSqlEngine, BPMSoft.DB.PostgreSql" metaEngineType="BPMSoft.DB.PostgreSql.PostgreSqlMetaEngine, BPMSoft.DB.PostgreSql" metaScriptType="BPMSoft.DB.PostgreSql.PostgreSqlMetaScript, BPMSoft.DB.PostgreSql" typeConverterType="BPMSoft.DB.PostgreSql.PostgreSqlTypeConverter, BPMSoft.DB.PostgreSql" binaryPackageSize="1048576" currentSchemaName="public" enableSqlLog="false" sqlLogQueryTimeElapsedThreshold="5000" sqlLogRowsThreshold="100" useOrderNullsPosition="false" maxEntitySchemaNameLength="30" />
      <!--<general connectionStringName="db" securityEngineType="BPMSoft.DB.MSSql.MSSqlSecurityEngine, BPMSoft.DB.MSSql" executorType="BPMSoft.DB.MSSql.MSSqlExecutor, BPMSoft.DB.MSSql" engineType="BPMSoft.DB.MSSql.MSSqlEngine, BPMSoft.DB.MSSql" metaEngineType="BPMSoft.DB.MSSql.MSSqlMetaEngine, BPMSoft.DB.MSSql" metaScriptType="BPMSoft.DB.MSSql.MSSqlMetaScript, BPMSoft.DB.MSSql" typeConverterType="BPMSoft.DB.MSSql.MSSqlTypeConverter, BPMSoft.DB.MSSql" binaryPackageSize="1048576" currentSchemaName="dbo" />-->
    </db>
    <fileDesignMode enabled="false" />
  </BPMSoft>
  <connectionStrings>
    <add name="dbMsSQL" connectionString="Data Source=tscore-dev-02; Initial Catalog=BPMCRM7124StudioSoftkeyENU_PostgreSql_SchedulerDb; Persist Security Info=True; MultipleActiveResultSets=True; Integrated Security = true; Pooling = true; Max Pool Size = 100" />
    <add name="db" connectionString="Pooling=true; Database={{ app_prefix }}_{{ app_port }}; Host={{ db_host }}; Port=5432; Username={{ app_prefix }}_{{ app_port }}; Password={{ db_password }}; Timeout=500; CommandTimeout=400;" />
    <add name="dbOracle" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = TSCoreOra10.tscrm.com)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = TSOra10) (SERVER = DEDICATED)));User Id=BPMCRM784UNITTEST;Password=BPMCRM784UNITTEST;" />
  </connectionStrings>
  <appSettings>
    <add key="UseSchemaChecksum" value="true" />
    <add key="IncludeDebugInformation" value="false" />
    <add key="CompilerSourcesTempFolderPath" value="%TEMP%\BPMCRM\Site_%APPLICATION%\%WORKSPACE%\Src" />
    <add key="CompileByManagerDependencies" value="true" />
    <add key="UseSchemaManagersDI" value="false" />
    <add key="UseEntitySchemaLczNaming" value="true" />
    <add key="UseProcessRemindings" value="true" />
    <add key="UseLocalizableFetchFromDB" value="true" />
    <add key="UseCurrentCultureEntityFetch" value="true" />
    <add key="ConfigurationProjectPath" value="" />
    <add key="StandalonePackageProjectFileDirectoryPath" value="Files/" />
    <add key="UseStaticFileContent" value="false" />
    <add key="ForceIndexRebuild" value="false" />
    <add key="Feature-UseRuntimeEntitySchemaMetadata" value="true" />
    <add key="UseMultipleDBExecutor" value="false" />
    <add key="Feature-UseSysSettingsEngine" value="true" />
    <add key="Feature-EnableSysSettingsRightsEngine" value="false" />
    <add key="Feature-UseNewEmbeddedProcessDesigner" value="true" />
    <add key="UpdateDbStructureOnceForEachSchemaName" value="true" />
    <add key="InitializationSecurityVector" value="mHybCHNqfMYA883P" />
    <add key="CurrentSecurityKey" value="GSYAHAGCBDUUADIADKOPAAAW" />
    <add key="Feature-ReplaceQueryColumnConstsWithParameters" value="false" />
    <add key="DenySqlTextApiUsage" value="false" />
    <add key="DenyCustomQueryApiUsage" value="false" />
    <add key="Feature-MemoryCleanupAfterReadFileFromS3" value="false" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BPMSoft.Common" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.65535" newVersion="1.2.0.3013" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BPMSoft.Core.Scheduler" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.65535" newVersion="1.2.0.3013" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BPMSoft.Core" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.65535" newVersion="1.2.0.3013" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BPMSoft.UI.Common.AspNetFramework" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.65535" newVersion="1.2.0.3013" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BPMSoft.UI.WebControls.Compatibility.Interfaces" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.65535" newVersion="1.2.0.3013" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BPMSoft.UI.WebControls" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.65535" newVersion="1.2.0.3013" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BPMSoft.UI.OldConfiguration" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.65535" newVersion="1.2.0.3013" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BPMSoft.Reports" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.65535" newVersion="1.2.0.3013" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BPMSoft.Store.WebAdapters" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.65535" newVersion="1.2.0.3013" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BPMSoft.Services" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.65535" newVersion="1.2.0.3013" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BPMSoft.Sync" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.65535" newVersion="1.2.0.3013" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.4.0" newVersion="1.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.6.0" newVersion="3.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.6.0" newVersion="3.1.6.0" />
      </dependentAssembly>
    </assemblyBinding>
    <loadFromRemoteSources enabled="false" />
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <quartz>
    <add key="quartz.dbprovider.Npgsql.productName" value="Npgsql" />
    <add key="quartz.dbprovider.Npgsql.assemblyName" value="Npgsql" />
    <add key="quartz.dbprovider.Npgsql.connectionType" value="Npgsql.NpgsqlConnection, Npgsql" />
    <add key="quartz.dbprovider.Npgsql.commandType" value="Npgsql.NpgsqlCommand, Npgsql" />
    <add key="quartz.dbprovider.Npgsql.parameterType" value="Npgsql.NpgsqlParameter, Npgsql" />
    <add key="quartz.dbprovider.Npgsql.parameterDbType" value="NpgsqlTypes.NpgsqlDbType, Npgsql" />
    <add key="quartz.dbprovider.Npgsql.parameterDbTypePropertyName" value="NpgsqlDbType" />
    <add key="quartz.dbprovider.Npgsql.parameterNamePrefix" value=":" />
    <add key="quartz.dbprovider.Npgsql.exceptionType" value="Npgsql.NpgsqlException, Npgsql" />
    <add key="quartz.dbprovider.Npgsql.useParameterNamePrefixInParameterCollection" value="true" />
    <add key="quartz.dbprovider.Npgsql.bindByName" value="true" />
    <add key="quartz.dbprovider.OracleODP-1123-40.productName" value="Oracle, Oracle provider 4.112.3.0 (NET 4.0)" />
    <add key="quartz.dbprovider.OracleODP-1123-40.assemblyName" value="Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <add key="quartz.dbprovider.OracleODP-1123-40.connectionType" value="Oracle.DataAccess.Client.OracleConnection, Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <add key="quartz.dbprovider.OracleODP-1123-40.commandType" value="Oracle.DataAccess.Client.OracleCommand, Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <add key="quartz.dbprovider.OracleODP-1123-40.parameterType" value="Oracle.DataAccess.Client.OracleParameter, Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <add key="quartz.dbprovider.OracleODP-1123-40.parameterDbType" value="Oracle.DataAccess.Client.OracleDbType, Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <add key="quartz.dbprovider.OracleODP-1123-40.parameterDbTypePropertyName" value="OracleDbType" />
    <add key="quartz.dbprovider.OracleODP-1123-40.parameterNamePrefix" value=":" />
    <add key="quartz.dbprovider.OracleODP-1123-40.exceptionType" value="Oracle.DataAccess.Client.OracleException, Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <add key="quartz.dbprovider.OracleODP-1123-40.useParameterNamePrefixInParameterCollection" value="false" />
    <add key="quartz.dbprovider.OracleODP-1123-40.bindByName" value="true" />
    <add key="quartz.dbprovider.OracleODP-1123-40.dbBinaryTypeName" value="Blob" />
    <add key="quartz.dbprovider.OracleManagedProvider.productName" value="Oracle, Managed data access" />
    <add key="quartz.dbprovider.OracleManagedProvider.assemblyName" value="Oracle.ManagedDataAccess" />
    <add key="quartz.dbprovider.OracleManagedProvider.connectionType" value="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess" />
    <add key="quartz.dbprovider.OracleManagedProvider.commandType" value="Oracle.ManagedDataAccess.Client.OracleCommand, Oracle.ManagedDataAccess" />
    <add key="quartz.dbprovider.OracleManagedProvider.parameterType" value="Oracle.ManagedDataAccess.Client.OracleParameter, Oracle.ManagedDataAccess" />
    <add key="quartz.dbprovider.OracleManagedProvider.parameterDbType" value="Oracle.ManagedDataAccess.Client.OracleDbType, Oracle.ManagedDataAccess" />
    <add key="quartz.dbprovider.OracleManagedProvider.parameterDbTypePropertyName" value="OracleDbType" />
    <add key="quartz.dbprovider.OracleManagedProvider.parameterNamePrefix" value=":" />
    <add key="quartz.dbprovider.OracleManagedProvider.exceptionType" value="Oracle.ManagedDataAccess.Client.OracleException, Oracle.ManagedDataAccess" />
    <add key="quartz.dbprovider.OracleManagedProvider.useParameterNamePrefixInParameterCollection" value="false" />
    <add key="quartz.dbprovider.OracleManagedProvider.bindByName" value="true" />
    <add key="quartz.dbprovider.OracleManagedProvider.dbBinaryTypeName" value="Blob" />
  </quartz>
  <quartzConfig defaultScheduler="BPMCRMQuartzScheduler">
    <quartz isActive="true">
      <add key="quartz.scheduler.instanceId" value="AUTO" />
      <add key="quartz.scheduler.instanceName" value="BPMCRMQuartzScheduler" />
      <add key="quartz.threadPool.threadCount" value="5" />
      <add key="quartz.jobStore.misfireThreshold" value="300000" />
      <add key="quartz.jobStore.clustered" value="true" />
      <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
      <add key="quartz.jobStore.dataSource" value="SchedulerDb" />
      <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz" />
      <add key="quartz.dataSource.SchedulerDb.provider" value="SqlServer" />
      <add key="quartz.dataSource.SchedulerDb.connectionStringName" value="db" />
      <add key="quartz.jobStore.acquireTriggersWithinLock" value="true" />
      <add key="quartz.serializer.type" value="binary" />
    </quartz>
  </quartzConfig>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog45">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~/BPMSoft.Tools.WorkspaceConsole.nlog.config" />
      </factoryAdapter>
    </logging>
  </common>
</configuration>